<div class="bb-content-group__app_page" style="font-size: 1.1em; height: 35px; color: #b3b3b3; border-radius: 3px;">
    Hello <b>@collabo-community</b> contributor!
</div>
<page-content><%- include('../partials/page-content/page-content') %></page-content>