<link rel="stylesheet" href="../partials/header/header.css">

<header class="bb-content-group__app_page bb-tymecomm_header">
  <nav class="bb-tymecomm_nav">
    <a class="bb-tymecomm_nav-link" href="/<%- page.route %>"> View </a>
    <a class="bb-tymecomm_nav-link" href="/<%- page.route %>/settings"> Settings </a>
  </nav>
</header>