<link rel="stylesheet" href="../partials/page-content/page-content.css">

<div class="bb-content-group__app_page bb-page-content_body">
  Collabocate |
  <%- page.name %> 
  <% if(page.route === 'tymecomm'){ %>
    <%- page.subpage_name %>
  <% } %>
  page
</div>